@using MVCProject.Models.ViewModels
@model AnimalViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Lista de Animales</h1>
    <ul>
        @foreach (var animal in Model.Animales)
        {          
            <li>
                <span class="animal-id">ID: @animal.IdAnimal</span>@animal.NombreAnimal
                <form asp-action="AnimalDetail" asp-controller="Home" method="post">
                    <input type="hidden" name="id" value="@animal.IdAnimal" />
                    <button type="submit">Details</button>
                </form>
            </li>
        }
    </ul>
</div>
