@using MVCProject.Models.ViewModels
@model InsertAnimalViewModel

@{
    ViewData["Title"] = "Insertar Nuevo Animal";
}

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-header bg-success text-white">
        <h4>Insertar Nuevo Animal</h4>
    </div>
    <div class="card-body">
        <form asp-action="Insert" asp-controller="Animal" method="post" asp-antiforgery="true">
            <div class="mb-3">
                <label for="NombreAnimal" class="form-label">Nombre del Animal</label>
                <input asp-for="NombreAnimal" type="text" id="NombreAnimal" class="form-control"/>
                <span asp-validation-for="NombreAnimal" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Raza" class="form-label">Raza</label>
                <input asp-for="Raza" type="text" id="Raza" class="form-control"/>
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="TipoDeAnimal" class="form-label">Tipo de Animal</label>
                <select asp-for="RIdTipoAnimal" asp-items="ViewBag.TiposDeAnimal" id="TipoDeAnimal" class="form-select">
                    <option value="">Seleccione un Tipo</option>
                    @* @foreach (var tipo in @Model.TiposDeAnimal)
                    {
                        <option value="@tipo.IdTipoAnimal">@tipo.TipoDescripcion</option>
                    } *@
                </select>
                <span asp-validation-for="RIdTipoAnimal" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input asp-for="FechaNacimiento" type="date" id="FechaNacimiento" class="form-control" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-error" role="alert">
        ViewBag.Error
    </div>
}

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
